body {
  background-color: #F7F8FD;
}



.select-feedback {
  display: flex;
  align-items: center;
  padding: 8px 24px 8px 24px;
  margin-bottom: 32px;
  background-color: #373F68;
}

.select-feedback label {
  color: white;
  font-size: 14px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18.79px;
}

.select-feedback select {
  background: transparent;
  color: white;
  border: none;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.select-feedback select option {
  background-color: white;
  color: #647196;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.select-feedback select option:nth-child(1) {
  color: rgb(178, 177, 177);
}

.select-feedback select option:hover,
.select-feedback select option:checked {
  background-color: #AD1FEA;
  color: white;
}


.select-feedback button {
  background-color: #AD1FEA;
  color: #F2F4FE;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 13px;
  line-height: 18.79px;
  margin-left: auto;
}

.select-feedback button:hover {
  background-color: #C75AF6;
}

.feedbacks-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.feedback-item {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.feedback-item h4 {
  color: #3A4374;
  margin: 0 0 10px 0;
  font-size: 18px;
  cursor: pointer;
}

.feedback-item p {
  color: #647196;
  margin: 0 0 15px 0;
  font-size: 16px;
}

.feedback-item p:first-of-type {
  cursor: pointer;
}

.feedback-item p:nth-child(3) {
  padding: 5px 16px 6px 16px;
  background-color: #F2F4FF;
  color: #4661E6;
  width: fit-content;
  border-radius: 10px;
  font-weight: 600;
}


.item-upvotes-comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-upvotes-comment p {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
  padding: 8px 12px;
  background: #F2F4FF;
  border-radius: 10px;
  color: #4661E6;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
  &.active {
    background-color: #4661E6;
    color: #fff;

    svg {
      fill: #fff;
    }
  }
}

.item-upvotes-comment a {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  user-select: none;
}

.null-page {
  margin-inline: 24px;
  padding: 76px 24px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img{
    margin-bottom: 39px;
  }
  h4{
    margin-bottom: 14px;

    font-weight: 700;
    font-size: 18px;
    line-height: 26.01px;
    letter-spacing: -0.25px;
    text-align: center;    
    color: #3A4374;
  }
  p{
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 13px;
    line-height: 18.79px;
    letter-spacing: 0px;
    text-align: center;
    color: #3A4374;
  }
  button{
    background-color: #AD1FEA;
    color: #F2F4FE;
    border: none;
    padding: 10px 16px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    font-size: 13px;
    line-height: 18.79px;
  }
  button:hover {
    background-color: #C75AF6;
  }
}